@tailwind base;
@tailwind components;
@tailwind utilities;

.stream-container {
	@apply inline-block text-left bg-base-300 rounded-box m-2;
	max-width: 420px;
}

.response-box {
	@apply p-2 overflow-auto fixed bottom-3 right-3 w-96 h-48 bg-base-100 opacity-90 rounded-box;
	@apply border border-solid border-neutral-content border-t-4 border-b-4;
}

.stream-status {
	@apply inline-block w-3 h-3 mx-1 bg-base-100;
	border-radius: 50%;
}

.stream-status.on {
	@apply bg-primary;
}

.table :where(th, td) {
	@apply p-1;
}

.input-label {
	@apply form-control max-w-md inline-block mr-1;
}

.labeled-input {
	@apply input input-bordered input-xs w-full max-w-md;
}

.labeled-select {
	@apply select select-bordered select-xs;
}

.collapsible-header {
	@apply collapse collapse-arrow border border-base-300 bg-base-200;
}

.collapse-title {
	@apply text-xl font-medium;
}
