body {
	margin: 0;
	padding: 0;
	background-color: #fff7eb;
	color: #282b43;
}
.padded {
	max-width: 720px;
	margin: auto;
	padding: 5px 20px 5px 20px;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.collapsible:hover {
	background-color: #ccc;
}
/* Style the collapsible content. Note: hidden by default */
.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	background-color: #f1f1f1;
}

h2 {
	color: #7c0514;
}
.divider {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
}

.divider img {
	max-width: 100%;
	max-height: 100%;
}

.stream-selector {
	min-width: 200px;
}

form input,
form select {
	margin: 2px 0;
}

/* buttons */
.big-btn {
	min-width: 200px;
	padding: 5px;
	margin: 15px 0;
	font-size: 14px;
	border-radius: 5px;
	background-color: #cf4521;
	border: 0px;
	color: #fff7eb;
	font-weight: bold;
	cursor: pointer;
}

.big-btn:active {
	background-color: #e08366;
}

.small-btn {
	min-width: 50px;
	padding: 0 5px;
	margin: 0 5px;
	font-size: 16px;
	border-radius: 5px;
	background-color: #cf4521;
	border: 0px;
	color: #fff7eb;
	font-weight: normal;
	text-decoration: none;
	cursor: pointer;
}

.small-btn:active {
	background-color: #e08366;
}

/* details */
details {
	border: 1px solid #7c0514aa;
	border-radius: 4px;
	padding: 0.5em 0.5em 0;
	width: 100%;
}

summary {
	color: #7c0514;
	font-weight: bold;
	margin: -0.5em -0.5em 0;
	padding: 0.5em;
}

details[open] {
	padding: 0.5em;
}

details[open] summary {
	border-bottom: 1px solid #ccc;
	margin-bottom: 0.5em;
}

/* ===== Table ===== */
.table-wrapper {
	overflow-x: auto;
}

#name-table {
	border-spacing: 0px;
}

/* ===== Ajax Responses View ===== */

.response-box {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 400px;
	height: 200px;
	background-color: #fff7ebee;
	border: 1px solid #e08366;
	border-top: 5px solid #e08366;
	border-bottom: 5px solid #e08366;
	border-radius: 20px;
	padding: 10px;
	overflow-y: auto;
}

/* === controls === */
.material-icons {
	font-size: 36px !important;
}

.jsmpeg canvas {
	border: 1px solid #ccc;
	display: inline;
}
.jsmpeg {
	text-align: center;
}

.jsmpeg p a {
	margin-right: 20px;
}

/* === On Off vusual === */
.stream-status {
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	margin: 0 5px;
	background-color: white;
}

.on,
.stream-status.on {
	background-color: #7fe363;
}

.off,
.stream-status.off {
	background-color: gray;
}

.out-config {
	margin: 5px 0;
}

/* CSS styles for the navigation and section */
.hero-section {
	text-align: center;
	border-bottom: 4px solid #7c0514;
	border-radius: 0 0 50px 50px;
}

nav {
	padding: 10px;
	display: inline-block;
	border-bottom: 2px solid #7c0514;
	border-radius: 0 0 10px 10px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline;
	margin-right: 10px;
}

nav ul li a {
	text-decoration: none;
	color: #7c0514;
	padding: 5px;
}

nav ul li a:hover {
	background-color: #7c0514;
	color: #fff7eb;
	border-radius: 0 0 10px 10px;
}

section {
	padding: 20px;
}

.input-options li {
	margin: 3px 0;
}

.input-options {
	list-style: none;
	padding: 0;
	margin: 0;
}

/* === show and hide outs === */
.stream-outs {
	max-height: calc(1.4em * 20); /* Show 20 lines of text (assuming 1.4em line height) */
	overflow: hidden;
	line-height: 1.4em; /* Set the line height for proper line count */
}

.show-more {
	max-height: none; /* Show the full text */
}

.show-or-hide-btn {
	display: block;
	margin-top: 10px;

	border: 1px solid #7c0514;
	color: #7c0514;
	background-color: #00000000;
}
